<!-- <div class="search-container">
    <input type="text" pInputText placeholder="Search by Name or Mobile..." [(ngModel)]="userSearch"
        (input)="filterUsers()">
    <i class="pi pi-search search-icon"></i>
</div> -->


<div class="toolbar-container">
    <div class="toolbar-left">
        <div class="p-inputgroup search-box custom-search">
            <span class="p-inputgroup-addon">
                <i class="pi pi-search"></i>
            </span>
            <input type="text" pInputText placeholder="Search by Name or Mobile..." [(ngModel)]="userSearch"
                (input)="filterUsers()">
        </div>
    </div>
</div>

<p-table *ngIf="!isLoading" [value]="filteredUsers" [paginator]="true" [rows]="10"
    [tableStyle]="{ 'min-width': '50rem' }" styleClass="dark-table">
    <ng-template pTemplate="header">
        <tr>
            <th style="width:7%">User Id</th>
            <th style="width:15%">Name</th>
            <th style="width:15%">Dob</th>
            <th style="width:15%">Mobile No</th>
            <th style="width:20%">Email Id</th>
            <th style="width:25%">Created On</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
        <tr>
            <td>{{ customer.userId }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.dob }}</td>
            <td>{{ customer.mobileNo }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.createdAt | date:'dd MMM yyyy, hh:mm a' }}</td>
        </tr>
    </ng-template>
</p-table>