<!-- <div class="forgot-container p-4">
    <h2 class="mb-3">Forgot Password</h2>
    <div *ngIf="step === 'email'">
        <label>Email Address</label>
        <input type="email" pInputText [(ngModel)]="email" placeholder="Enter your email" class="mb-2 w-full">
        <button pButton label="Send OTP" (click)="sendOtp()" class="w-full"></button>
    </div>

    <div *ngIf="step === 'otp'">
        <label>Enter OTP</label>
        <input type="text" pInputText [(ngModel)]="otp" placeholder="Enter OTP" class="mb-2 w-full">
        <button pButton label="Verify OTP" (click)="verifyOtp()" class="w-full"></button>
    </div>

    <p class="mt-2 text-sm text-red-600">{{ message }}</p>
</div> -->



<form style="display: flex; justify-content: center; align-items: center; height: 100vh; background-color: #000;">
    <p-card header="Forgot Password" [style]="{
      width: '400px',
      borderRadius: '15px',
      boxShadow: '0 4px 20px rgba(172, 149, 72, 0.4)',
      border: 'none'
    }" styleClass="p-p-4 bg-black text-white">

        <div *ngIf="step === 'email'" class="col-12 mb-3">
            <p-floatLabel>
                <input type="email" pInputText [(ngModel)]="email" name="email" class="w-full custom-input"
                    style="background-color: transparent; color: white; border: none; border-bottom: 2px solid #ac9548b6; font-weight: 600;" />
                <label style="color: #ac9548b6; font-weight: 600;">Email Address</label>
            </p-floatLabel>
            <br>
            <p-button label="Send OTP" styleClass="custom-button w-full mt-3" (click)="SendOtp()"></p-button>
        </div>

        <div *ngIf="step === 'otp'" class="col-12">
            <div class="text-center mb-3">
                <div class="font-bold text-xl mb-2">Authenticate Your Account</div>
                <p class="text-color-secondary block mb-5">
                    Please enter the code sent to your email.
                </p>
            </div>

            <div class="otp-wrapper">
                <!-- <p-inputOtp [(ngModel)]="value" [length]="6" style="gap: 10px">
                    <ng-template pTemplate="input" let-token let-events="events" let-index="index">
                        <input type="text" maxlength="1" pInputText (input)="events.input($event)"
                            (keydown)="events.keydown($event); allowNumbersOnly($event)" (paste)="events.paste($event)"
                            [attr.value]="token" class="otp-box" />

                        <div *ngIf="index === 3" class="px-3">
                            <i class="pi pi-minus"></i>
                        </div>
                    </ng-template>
                </p-inputOtp> -->

                <p-inputOtp [(ngModel)]="value" name="otp" [length]="6" style="gap: 10px">
                    <ng-template pTemplate="input" let-token let-events="events" let-index="index">
                        <input type="text" maxlength="1" pInputText (input)="events.input($event)"
                            (keydown)="events.keydown($event); allowNumbersOnly($event)" (paste)="events.paste($event)"
                            [attr.value]="token" class="otp-box" />
                        <div *ngIf="index === 3" class="px-3">
                            <i class="pi pi-minus"></i>
                        </div>
                    </ng-template>
                </p-inputOtp>

            </div>

            <div class="flex justify-content-between mt-5">
                <p-button label="Resend Code" [link]="true" styleClass="custom-default" (click)="resendOtp()" />
                <p-button label="Submit Code" styleClass="custom-button" (click)="VerifyOtp()" />
            </div>

            <div class="text-left mt-3 change-email">
                <a href="javascript:void(0)" (click)="changeEmail()">
                    ← Change Email
                </a>
            </div>
        </div>

        <p class="mt-2 text-sm text-red-500">{{ message }}</p>

        <div class="login-register-text mt-4 text-center">
            Remembered your password?
            <a routerLink="/login" class="login-register-link">Login</a>
        </div>
    </p-card>
</form>

<p-dialog header="Reset Password" [(visible)]="displayResetPassword" [modal]="true" [closable]="false"
    [style]="{width: '400px'}">
    <form [formGroup]="resetPasswordForm">
        <div class="mb-3">
            <label>New Password</label>
            <input type="password" pInputText formControlName="newPassword" class="w-full" />
        </div>
        <div class="mb-3">
            <label>Confirm Password</label>
            <input type="password" pInputText formControlName="confirmPassword" class="w-full" />
        </div>
        <p-button label="Change Password" styleClass="custom-button w-full" (click)="changePassword()"></p-button>
    </form>
</p-dialog>