<!-- <p-table [value]="CarBookingData" [paginator]="true" [rows]="10" responsiveLayout="scroll" styleClass="dark-table">
  <ng-template pTemplate="header">
    <tr>
      <th>Booking ID</th>
      <th>Full Name</th>
      <th>Mobile Number</th>
      <th>Car ID</th>
      <th>Booking Reason</th>
      <th>Destination</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Total Days</th>
      <th>Amount</th>
      <th>Status</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-booking>
    <tr>
      <td>{{ booking.bookingId }}</td>
      <td>{{ booking.name }}</td>
      <td>{{ booking.mobileNo }}</td>
      <td>{{ booking.carId }}</td>
      <td>{{ booking.bookingReason || '-' }}</td>
      <td>{{ booking.destination }}</td>
      <td>{{ booking.startDate | date: 'mediumDate' }}</td>
      <td>{{ booking.endDate | date: 'mediumDate' }}</td>
      <td>{{ booking.totalDays }}</td>
      <td>{{ booking.price }}</td>
      <td>
        <p-tag [value]="booking.status" [severity]="getBookingSeverity(booking.status)">
        </p-tag>
      </td>
    </tr>
  </ng-template>
</p-table> -->

<div class="toolbar-container">
  <div class="toolbar-left">
    <div class="p-inputgroup search-box custom-search">
      <span class="p-inputgroup-addon">
        <i class="pi pi-search"></i>
      </span>
      <input type="text" pInputText placeholder="Search by Name or Mobile" (input)="onSearch($event)" />
    </div>
  </div>

  <div class="toolbar-right">
    <label class="toolbar-label" for="startDate">From:</label>
    <p-calendar [(ngModel)]="filterStartDate" [readonlyInput]="true" (ngModelChange)="onDateFilterChange()"
      appendTo="body" [showIcon]="true"></p-calendar>

    <label class="toolbar-label" for="endDate">To:</label>
    <p-calendar [(ngModel)]="filterEndDate" [readonlyInput]="true" (ngModelChange)="onDateFilterChange()"
      appendTo="body" [showIcon]="true" />
    <p-button label="Export PDF" styleClass="custom-button w-full" icon="pi pi-file-pdf" (click)="exportPDF()">
    </p-button>
  </div>
</div>

<p-table #dt [value]="filteredCarBookingData" [paginator]="true" [rows]="10" responsiveLayout="scroll"
  styleClass="dark-table" [globalFilterFields]="['name', 'mobileNo']">
  <ng-template pTemplate="header">
    <tr>
      <th>Booking ID</th>
      <th>Full Name</th>
      <th>Mobile Number</th>
      <th>Car ID</th>
      <th>Booking Reason</th>
      <th>Destination</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Total Days</th>
      <th>Amount</th>
      <th>Status</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-booking>
    <tr>
      <td>{{ booking.bookingId }}</td>
      <td>{{ booking.name }}</td>
      <td>{{ booking.mobileNo }}</td>
      <td>{{ booking.carId }}</td>
      <td>{{ booking.bookingReason || '-' }}</td>
      <td>{{ booking.destination }}</td>
      <td>{{ booking.startDate | date: 'mediumDate' }}</td>
      <td>{{ booking.endDate | date: 'mediumDate' }}</td>
      <td>{{ booking.totalDays }}</td>
      <td>{{ booking.price }}</td>
      <td>
        <p-tag [value]="booking.status" [severity]="getBookingSeverity(booking.status)"></p-tag>
      </td>
    </tr>
  </ng-template>
</p-table>